[scanner]
serial: /dev/serial/by-id/usb-Cartographer_614e_3B0036001653584833373720-if00
x_offset: 0
y_offset: 20
calibration_method: touch
sensor: cartographer
sensor_alt: carto
backlash_comp: 0.00926
mesh_runs: 2

[bed_mesh]
zero_reference_position: 150, 150
speed: 200
horizontal_move_z: 5
mesh_min: 45,45
mesh_max: 280,280
probe_count: 15,15
algorithm: bicubic
bicubic_tension: 0.2
split_delta_z: 0.01
#mesh_pps: 3,3
adaptive_margin: 5

[safe_z_home]
home_xy_position:150,150
speed:75
z_hop:10
